.taskWrapper{
    border-bottom: 1px solid #efefef;
    text-align: center;
    margin-bottom: 18px;
}
.removeTask{
    outline: none;
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    padding: 8px;
}